.header {
    background-image: url('../../public/images/bg.png');
    height: 100vh;
    background-size: cover;
    position: relative;

    .header-container {
        height: 90px;
        background: black;

        .links {
            display: flex;
            justify-content: space-between;
            padding: 30px 100px 30px 100px;
            align-items: center;

            a {
                text-decoration: none;
                color: white;
                margin-right: 25px;
                cursor: pointer;
            }
        }

        .text {
            color: white;
            text-align: center;
            position: absolute;
            top: 77%;
            left: 50%;
            transform: translate(-50%, -50%);

            h2 {
                color: #C0C0C0;
                font-size: 14px;
            }

            h1 {
                font-weight: bold;
                font-size: 54px;
                color: white;
            }

            p {
                color: #C0C0C0;
                font-size: 14px;
            }
        }
    }


    .icons {
        color: white !important;
        position: absolute;
        display: flex;
        gap: 20px;
        font-size: 10px;
        top: 93%;
        right: 3%;

        .single-icon {
            display: flex;
            align-items: center;
            gap: 5px;
        }
    }
}